pipeline/create variable with filename and asign fileame.json
{
	"name": "create variable with filename and asign fileame",
	"properties": {
		"activities": [
			{
				"name": "get file name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dataset_for_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FilePath",
					"value": {
						"value": "@activity('get file name').output.itemName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FilePath": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-04T05:54:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}